/* div{
    border: 2px solid red;
} */


body{
    background-image: url('../imagens/fundo.png');
    margin: 10px auto;
    max-width: 80%;
}
.link{
    position: absolute;
    margin-left: 553px;
    margin-top: 30px;
}

h4{
    text-align: center;
}


