<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} projeto {% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style2.css">
</head>

<body>
    <!-- cabeçalho -->
    <div>
        <img src="../static/imagens/logo.png" alt="logo" style="margin-top: 15px;">
        <spam class="link">
            <a href="/">Home</a> |
            <a href="quemsomos">Quem-somos</a> |
            <a href="contatos">Contatos</a>
        </spam>
    </div>

{% block conteudo %}
{% endblock %}

</div>
<!--Rodapé-->
<div>
    <h4>Todos os direitos reservados</h4>
</div>
</body>

</html>