        {% extends 'base.html' %}

        {% block conteudo %}
    <!-- Entre em contato -->
    <div>
        <h2>Entre em contato</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, est dolorem ipsa. </p>
    </div>
    <hr />
    <!-- locais de contato -->
    <div>
        <p>Seu e-mail: <br>
            <input type="email">
        </p>
        <p>Assunto: <br>
            <input type="text">
        </p>
        <p>Descrição: <br>
            <textarea></textarea>
            
        </p>
        <button>Enviar</button>
    </div>

        {% endblock %}