        {% extends 'base.html' %}

        {% block conteudo %}
    <!-- Quem somos -->
    <div>
        <h2>Quem somos</h2>
        <p>Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Soluta, totam adipisci quis officiis quia
            nulla
            explicabo sed velit exercitationem nam ipsa a sit delectus sint, culpa dicta iusto quae possimus. Lorem
            ipsum, dolor sit amet consectetur adipisicing elit. Quaerat libero nisi iusto iure accusamus optio dolores,
            odit consequuntur rem dolor, eligendi ut quae fuga? Assumenda explicabo nemo reprehenderit animi aut! Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptates ex vitae quasi voluptas unde, cum earum
            ad laboriosam ipsam nam at nulla nostrum voluptatum amet facere voluptatibus doloribus harum!</p>
    </div>
    <!-- 5 motivos para estudar -->
    <div>
        <h2>5 motivos para estudar</h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>


        </ol>
    </div>
    <hr />
    <!-- Objetivos -->
    <div>
        <h2>Objetivos</h2>
        <p>Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Quidem odit beatae expedita consequuntur quia dicta.
            Cupiditate, consequuntur! Ratione non dolor obcaecati aperiam rem omnis vero consequuntur, laboriosam, sit
            dicta maxime! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quidem laboriosam pariatur
            iste id optio reprehenderit incidunt sequi officia omnis esse sed eum voluptatum quaerat nihil aliquam
            voluptatibus, commodi unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ipsum assumenda
            excepturi, dignissimos maxime ex voluptas iure corrupti, et enim delectus eos nisi quae minima. Quod
            voluptas deserunt soluta? Quas?
        </p>

        {% endblock %}